@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
:root {
  /* Light mode styles */
  --background-color: #d1ddf4;
  --text-color: #000000;
}

.dark {
  /* Dark mode styles */
  --background-color: #373a43;
  --text-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
