.journal-container {
    @apply flex flex-col items-center justify-center p-4 max-w-2xl mx-auto;
}

.journal-container h2 {
    @apply text-2xl font-bold mb-4;
}

.journal-container .create-entry-button {
    @apply py-2 px-4 rounded mb-4;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
} 

.journal-actions-button{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.journal-textarea{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

 .journal-item{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 10px;
 }


